@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Application of laboratory work 5!</h1>
    <p>This app is for running three other labs (1, 2 and 3). Ypu can do it only if you register or log in</p>
    <br/>
    <a class="btn btn-primary" href="@Url.Action("Register", "Account")">Register</a>
    <a class="btn btn-secondary" href="@Url.Action("Login", "Account")">Login</a>
</div>
