@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Application!</h1>
    <p>Learn more about what we do.</p>
    <a class="btn btn-primary" href="@Url.Action("Register", "Account")">Register</a>
    <a class="btn btn-secondary" href="@Url.Action("Login", "Account")">Login</a>
</div>
